{% extends 'startup/base.html' %}

{% block content %}
    {% if alert %}
    <div class="alert">
      <span class="closebtn" onclick="this.parentElement.style.display='none';">&times;</span>
      L'ultimo admin connesso aveva un IP diverso dal tuo.
    </div>
    {% endif %}

   {% if empty %}
        <div class="alertgray">
            <span class="closebtn" onclick="this.parentElement.style.display='none';">&times;</span>
            La ricerca non ha prodotto nessun risultato
        </div>
    {% endif %}
    {% for product in products %}
        <article class="product">
            <time class="date">
                {{ product.creation_date }}
            </time>
            <h2><a href="{% url 'product_detail' pk=product.pk %}">{{ product.name }}</a></h2>
            <p>{{ product.description|linebreaksbr }}</p>
        </article>
    {% endfor %}
{% endblock %}